.dropdowns {
  display: flex;
}
  
.label-holder select {
  background-color: #7d3e8b;
  border-color: white;
  border-radius: 0.33em;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: "Inter" , sans-serif;
  padding: 9.6px 5px;
  margin-right: 15px;

}
  
.label-holder input {
  background-color: #7d3e8b;
  border-color: white;
  border-radius: 0.33em;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: "Inter" , sans-serif;
  padding: 9.6px 5px;
  width: 120px;
}
  



