
.up-arrow {
    position: fixed;
    bottom: 70px;
    right: 55px;
    color: white;
    background-color: #7d3e8b;
    border: 1px;
    border-radius: 100%;
    padding: 5px 10px;
}

.up-arrow p {
    font-size: 25px;
    margin: 0;
}

.up-arrow:hover {
    cursor: pointer;
}