
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card {
  background-color: #fff;

  border: 1px;
  border-radius: 0.33em; 
  box-shadow: 0 20px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.33% - 21px);
  max-width: calc(33.33% - 21px); 
  min-width: 1%; 
  box-sizing: border-box;
}

.card-text-image {
  display: flex;
  flex-direction: column;
}

.card-text-image img {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-height: auto;
  max-width: 500px;
  align-items: stretch;
}

hr {
  border: 1px solid grey;
  width: 100%;
  margin: 0;
}

.card-resources {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-resources p {
  margin: 0;
}

.resource-details {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  flex-direction: column;
}

.detail-spacer {
  flex: 1 1 8px;
  min-height: 8px;
  max-height: 32px;
}


.resource-address {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.resource-address p {
  margin: 10px 0;
}